.navigation
  position   : relative
  margin-top : 25px
  height     : 50px

  .link
    position    : relative
    color       : #fff
    width       : 20%
    height      : 35px
    text-align  : center
    padding-top : 15px
    display     : inline-block
