<div class='project'>
  <div class='name' ng-bind='project.name'></div>
  <div class='description' ng-bind='project.description'></div>
  <div class='features' ng-if='project.hasFeatures()'>
      <img class='feature' ng-repeat='feature in project.features' ng-src='{{feature.imageUrl}}' />
  </div>
  <div class='links' ng-if='project.hasLinks()'>
      <img class='link' ng-repeat='link in project.links' ng-src='{{link.imageUrl}}' />
  </div>
  <div class='images' ng-if='project.hasImages()'>
    <div class='image pointer'
         ng-repeat='image in project.images'
         ng-click='onImageClick(image)'
         style="{{ 'background-image: url(' + image + ')' }}"></div>
  </div>
  <div class='text' ng-bind='project.text'></div>
  <iframe ng-if='project.hasVideo()' ng-src='{{project.interpolatedVideoUrl}}' class='video'></iframe>
</div>
