<div class='feed'>
    <div ui-view></div>
    <div class='article' ng-repeat='article in articles'>
        <a ng-click="showArticle(article)">
            <div class='name' ng-bind='article.name'></div>
            <img class="poster" ng-if='article.hasPoster()' ng-src='{{article.poster}}' />
            <div class='description' ng-bind='article.description'></div>
        </a>
        <div class='links' ng-if='article.hasLinks()'>
            <a ng-repeat='link in article.links' href="{{link.url}}" target="_blank">
                <img class='link' ng-src='{{link.imageUrl}}' title="{{link.type}}" />
            </a>
        </div>
        <div class='features' ng-if='article.hasFeatures()'>
            <img class='feature' ng-repeat='feature in article.features' ng-src='{{feature.imageUrl}}' title="{{feature.type}}" />
        </div>
        <div class='date'>
            Developed in <span ng-bind='article.date'></span>
        </div>
    </div>
</div>
