<div class="header">
    <a class="recent-article" href="#/feed/all/article/{{currentArticle.key}}">
        <div class="name">{{ currentArticle.name }}</div>
        <img class="poster" ng-src="{{ currentArticle.poster }}"/>
    </a>
    <div class="top-bar">
        <div class="wrapper">
            <div class="text">
                Top Bar Text
            </div>
        </div>
    </div>
    <div class="progress-bar">
        <div class="progress-box" style="width: {{ progress * 100 }}%"></div>
    </div>
</div>
