<div class='projects'>
  <div class='category' ng-repeat='category in displayables'>
    <div class='name' ng-if='!hasKey()' ng-bind='category.name'></div>
    <div class='work' ng-repeat='work in category.works'>
        <a ng-href='#/project/{{work.key}}'>
            <div class='name' ng-bind='work.name'></div>
            <img class="poster" ng-if='work.hasPoster()' ng-src='{{work.poster}}' />
            <div class='description' ng-bind='work.description'></div>
        </a>
        <div class='links' ng-if='work.hasLinks()'>
            <img class='link' ng-repeat='link in work.links' ng-src='{{link.imageUrl}}' />
        </div>
        <div class='features' ng-if='work.hasFeatures()'>
            <img class='feature' ng-repeat='feature in work.features' ng-src='{{feature.imageUrl}}' />
        </div>
        <div class='date'>
          Developed in <span ng-bind='work.date'></span>
        </div>
    </div>
  </div>
</div>
