<div class='main'>
    <div class="categories">
        <a class="category" href="#/feed/all">All</a>
        <a ng-repeat="category in categories" href="#/feed/{{category}}" class="category">{{category.type}}</a>
    </div>
    <div class="links">
        <a ng-repeat="link in links" class="link" href="{{link.url}}" target="_blank">
            <img class='link' ng-src='{{link.imageUrl}}' title="{{link.type}}" />
        </a>
    </div>
    <header></header>
    <div ui-view></div>
    <div class="footer">
        <div class="text"> Footer | Text | Here </div>
    </div>
</div>
